{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色信息</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<table class="table table-striped">
    <form action="" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">

            <label for="id_lowPrice">价格区间</label>
            {{select_form.lowPrice}}
            <lable>——</lable>
            <label for="id_heightPrice"></label>
            {{select_form.heightPrice}}
        </div>
        <select name="sel_value">
            <option>{{ select_menpai }}</option>

            {% for key,value in select_form.SELVALUE %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <caption>角色列表</caption>
    <thead>
    <tr>
        {% for verbose_name in verbose_names %}
        <th><a href="{% url 'role_sort' menpai=select_menpai verbose_name=verbose_name lowPrice=lowPrice heightPrice=heightPrice%}">{{verbose_name}}</a></th>
        {% empty %}
        没有字段
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
    <tr>
        <td>{{role.if30}}</td>
        <td>{{role.price}}</td>
        <td>{{role.name}}</td>
        <td>{{role.menpai}}</td>
        <td>{{role.cloth_grade}}</td>
        <td>{{role.stone_grade}}</td>
        <td>{{role.level}}</td>
        <td>{{role.hp}}</td>
        <td>{{role.attack_heightest_name}}</td>
        <td>{{role.attack_heightest_value}}</td>
        <td>{{role.others_attack}}</td>
        <td>{{role.attack_stab}}</td>
        <td>{{role.huixin}}</td>
        <td>{{role.mingzhong}}</td>
        <td>{{role.shanbi}}</td>
        <td>{{role.detail_url}}</td>
        <td>{{role.tili_d}}</td>
        <td>{{role.shuxing_d}}</td>
        <td>{{role.wuhun}}</td>
        <td>{{role.if20}}</td>
        <td>{{role.cailiao_3}}</td>
        <td>{{role.shizhuang_num}}</td>
        <td>{{role.area}}</td>
        <td>{{role.shenqi_star}}</td>
    </tr>
    {% empty %}

    {% endfor %}
    </tbody>

    </tbody>

</table>


</body>


</html>