{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
角色检索
{% endblock %}
{% block header_extends %}
{% endblock %}


{% block nav_role_active %}active{% endblock %}

{% block content %}

<table class="table table-striped">
    <form action="" method="get">
        <div class="fieldWrapper" style="margin-top:80px">
            <label for="id_lowPrice">价格区间</label>
            {{select_form.lowPrice}}
            <lable>——</lable>
            <label for="id_heightPrice"></label>
            {{select_form.heightPrice}}
        </div>
        <select name="sel_value">
            {% for key,value in select_form.SELVALUE %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <lable>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</lable>
        <select name="sel_value2">
            {% for key,value in select_form.SELVALUE2 %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <lable>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</lable>
        <select name="sel_value3">
            {% for key,value in select_form.SELVALUE3 %}
            <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <caption>角色列表</caption>
    <div>小窍门：点击属性字段名称可以实现从高到低排序</div>
    <thead>
    <tr>
        {% for verbose_name in verbose_names %}
        <th>
            {% if request_url_all == '/role/' %}
            <a href="{{ request_url_all }}?verbose_name={{verbose_name}}">{{verbose_name}}</a>
            {% else %}
            <a href="{{ request_url_all }}&verbose_name={{verbose_name}}">{{verbose_name}}</a>
            {% endif %}
        </th>
        {% empty %}
        没有字段
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
    <tr>
        <td>{{role.if30}}</td>
        <td>{{ role.star8 }}</td>
        <td>{{role.price}}</td>
        <td>{{role.name}}</td>
        <td>{{role.menpai}}</td>
        <td>{{role.cloth_grade}}</td>
        <td>{{role.stone_grade}}</td>
        <td>{{role.level}}</td>
        <td>{{role.hp}}</td>
        <td>{{role.tili}}</td>
        <td>{{role.shenfa}}</td>
        <td>{{role.attack_heightest_name}}</td>
        <td>{{role.attack_heightest_value}}</td>
        <td>{{role.others_attack}}</td>
        <td>{{role.attack_stab}}</td>
        <td>{{role.huixin}}</td>
        <td>{{role.mingzhong}}</td>
        <td>{{role.shanbi}}</td>
        <td><a href="{{role.detail_url}}" target="view_window">链接</a></td>
        <td>{{role.tili_d}}</td>
        <td>{{role.shuxing_d}}</td>
        <td>{{role.wuhun}}</td>
        <td>{{role.if20}}</td>
        <td>{{role.cailiao_3}}</td>
        <td>{{role.shizhuang_num}}</td>
        <td>{{role.area}}</td>
        <td>{{role.shenqi_star}}</td>
        <td>{{role.neiwai_max_attack}}</td>
        <td>{{role.orange_zhenyuan}}</td>
        <td>{{role.diaowen7}}</td>
        <td>{{role.diaowen6}}</td>
        <td>{{role.yuanbao}}</td>
        <td>{{role.kang_heightest_name}}</td>
        <td>{{role.kang_heightest_value}}</td>
        <td>{{role.zuoji}}</td>
        <td>{{role.chonglou_num}}</td>
    </tr>
    {% empty %}

    {% endfor %}
    </tbody>
</table>

<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_roles.has_previous %}
            <a href="?page={{ page_of_roles.previous_page_number }}&{{ request_url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% else %}
            <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 全部页码 #}
        {% for page_num in page_range %}
        {% if page_num == page_of_roles.number %}
        <li class="active"><span>{{ page_num }}</span></li>
        {% else %}
        {% if page_num == '...' %}
        <li><span>{{ page_num }}</span></li>
        {% else %}
        <li><a href="?page={{ page_num }}&{{ request_url }}">{{ page_num }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_roles.has_next %}
            <a href="?page={{ page_of_roles.next_page_number }}&{{ request_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% else %}
            <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
    <p>
        共有{{ page_of_roles.paginator.count }}条角色信息，
        当前第{{ page_of_roles.number }}页，共{{ page_of_roles.paginator.num_pages }}页
    </p>
</div>
<div style="text-align: center;">网站总访问次数:{{ visitnum }}</div>
<div style="text-align: center;">想增加搜索字段，或者增加搜索内容可以联系微信：lzz122zzl</div>

{% endblock %}
